.navbar{
    width: 100%;
    height: 15%;
    background-color: rgb(216, 25, 25);
    display: flex;
    justify-content: space-between;
    .navbar_items{
        height: 100%;
        display: flex;
    }
    .navbar_logo{
        height: 80%;
    }
}

